---
layout: splash
permalink: /
title: "<span style='font-family: Arial; font-size: 50px; color: #ffffff;'>锦鹏的个人网站"
hidden: true
header:
  overlay_color: "#5e616c"  # 顶部背景色，也可以换成图片 overlay_image: /assets/home-bg.jpg
  overlay_filter: 0.5       # 如果用图片，这个可以让文字更清晰
excerpt: " <br /> <span style='color: #FF4500; font-family: Arial; font size: 31'>Go Out and Prectice More"

feature_row_1:
  - image_path: /assets/avatar.JPG  # 这里先用你的头像做测试，以后可以换成科研相关的图
    alt: "科研学习"
    title: "科研学习"

    url: "/research/"
    btn_label: "查看笔记"
    btn_class: "btn--primary"

feature_row_2:
  - image_path: https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80
    alt: "生活记录"
    title: "生活记录"

    url: "/life/"  # 假设你以后会建这个页面
    btn_label: "阅读随笔"
    btn_class: "btn--info"

feature_row_3:
  - image_path: https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80
    alt: "关于我"
    title: "关于我"

    url: "/about/"
    btn_label: "详细介绍"
    btn_class: "btn--warning"
---

{% include feature_row id="feature_row_1" type="left" %}

{% include feature_row id="feature_row_2" type="right" %}

{% include feature_row id="feature_row_3" type="left" %}
